#sudo nano /etc/systemd/system/flask_server_security.service

[Unit]
Description=Gunicorn instance to serve flask_server_security
After=network.target

[Service]
User=han
Group=www-data
WorkingDirectory=/home/han/PycharmProjects/flask_server_https
Environment="PATH=/home/han/PycharmProjects/flask_server_https/venv/bin"

ExecStart=/home/han/PycharmProjects/flask_server_https/venv/bin/gunicorn --workers 5 --bind unix:flask_server_security.sock -m 007 run:app --reload --enable-stdio-inheritance --error-logfile /home/han/PycharmProjects/flask_server_https/error.log --access-logfile /home/han/PycharmProjects/flask_server_https/access.log --capture-output --log-level error

Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

#sudo systemctl start flask_server_security
#sudo systemctl enable flask_server_security
#sudo systemctl status flask_server_security



